ckpt
ckpt/*

*.log

wandb
wandb/*

medAI/projects/miccai2024_refactor/logs
medAI/projects/miccai2024_refactor/logs/*

*.png

*.pyc
*.pkl
*.out

*/*.png
*/*.pyc
*/*.pkl
*/*.out

*/__pycache__
*/???
*/logs
*/wandb